{% extends 'main/base.html' %}


{% block title %} Chat Rooms | Herext {% endblock %}


{% block head %}

{% endblock %}


{% block body %}
<div class="grid | justify-center">
    <div class="w-[90vw] sm:w-[80vw] lg:w-[70vw] | flex-wrap | flex | justify-evenly | gap-16 | mt-[60px] | sm:mt-[100px]">
        {% for id, chatroom, chatroom_length in chatrooms %}
            <div class="bg-white | grid items-center | justify-items-center | rounded-[25px] | px-[25px] sm:px-[50px] lg:px-[70px] | w-[400px] | boxShadowHover">
                <h4 class="font-lilita | text-[40px] | mt-[20px]">{{ chatroom }}</h4>
                <div class="w-[100%] | flex | content-center | py-[20px]">
                    <p class="font-lilita | text-[20px] | w-[100%] | mb-[20px]">Members: {{ chatroom_length }}</p>
                    <a class="bg-green-600 | rounded-xl | font-lilita | text-[30px] | px-[20px] | py-[5px]" href="/chatroom/{{id}}">Enter</a>
                </div>
            </div>
        {% endfor %}
            
        <div class="grid items-center | justify-items-center | border-[10px] | border-green-600 | rounded-[25px] | px-[25px] sm:px-[50px] lg:px-[70px] | w-[400px] | boxShadowHover">
            <h4 class="font-lilita | text-[40px] | text-green-600 | mt-[20px]">Create new</h4>
            <a class="bg-green-600 | rounded-xl | font-lilita | text-[50px] | px-[25px] | mt-[10px] | mb-[20px]" href="/chatroom/create">+</a>
        </div>
    </div>
</div>
{% endblock %}